# Make vim the default editor
export EDITOR="vim"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# MacPorts 
export PATH=/opt/local/bin:/opt/local/sbin:$PATH
export MANPATH=/opt/local/share/man:$MANPATH

# User Executables
export PATH=~/bin:$PATH

# Java
export JAVA_HOME=$(/usr/libexec/java_home)

# Amazon Web Services (AWS, EC2)
export EC2_HOME=~/.ec2
export PATH=$EC2_HOME/bin:$PATH
